*.sqlite3
*.pyc
*.pyo

__pycache__
migrations
wsgi.py
manage.py

/personal_page/static
**/.git
**/node_modules
**/bin
**/bundles
**/lib
**/include
**/share
**/tcl
**/__pycache__
**/migrations
*.pyc
*.png
*.PNG
*.jpg
*.jpeg
*.pdf
pip-selfcheck.json
secrets.json
webpack-stats-local.json
webpack-stats-prod.json
fabfile.py
